<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="enpm662_proj1_urdf">
  <transmission name="dummy_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="dummy_joint">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="dummy_motor">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="Rear_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="rear_drive_joint">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="rear_motor">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="left_front_steer_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_front_steer_joint">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_front_steer_motor">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="left_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_wheel_joint">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_wheel_motor">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <transmission name="right_wheel_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_link_joint">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_wheel_motor">
      <mechanicalReduction>50</mechanicalReduction>
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
  <link
    name="dummy_link">
  </link>
  <joint
    name="dummy_joint"
    type="fixed">
    <parent
      link="dummy_link"/>
    <child
      link="chassis"/>
  </joint>
  <link
    name="chassis">
    <inertial>
      <origin
        xyz="0.000799761683914332 1.5073956243953E-17 0.0954306825939049"
        rpy="0 0 0" />
      <mass
        value="93.1848581866648" />
      <inertia
        ixx="2.28713334560461"
        ixy="-8.93038026274078E-17"
        ixz="0.00487069017117028"
        iyy="7.51842340533568"
        iyz="1.13731323728705E-16"
        izz="9.24306451040249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/chassis.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/chassis.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rear_drive">
    <inertial>
      <origin
        xyz="1.11022302462516E-16 3.81639164714898E-17 1.38099554588136E-16"
        rpy="0 0 0" />
      <mass
        value="5.25111094738319" />
      <inertia
        ixx="0.605832013171467"
        ixy="0"
        ixz="-8.25552451419027E-18"
        iyy="0.605832013171467"
        iyz="-1.54751236957995E-18"
        izz="0.0255331022594418" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/rear_drive.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/rear_drive.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_drive_joint"
    type="revolute">
    <origin
      xyz="-0.254 0 0.0254"
      rpy="1.5708 0.1853 0" />
    <parent
      link="chassis" />
    <child
      link="rear_drive" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_front_steer">
    <inertial>
      <origin
        xyz="-2.22044604925031E-16 0.0206107556410368 0.0402758603427741"
        rpy="0 0 0" />
      <mass
        value="0.0733713578442023" />
      <inertia
        ixx="0.000110146477694354"
        ixy="-6.57244627510134E-20"
        ixz="2.62712562546842E-19"
        iyy="9.72440317091054E-05"
        iyz="2.30486601099536E-05"
        izz="1.88194791385947E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/left_front_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/left_front_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_steer_joint"
    type="revolute">
    <origin
      xyz="0.254 0.27305 0.012573"
      rpy="1.5708 0 -3.1325" />
    <parent
      link="chassis" />
    <child
      link="left_front_steer" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_wheel">
    <inertial>
      <origin
        xyz="-6.38378239159465E-16 -3.05311331771918E-16 -0.0405804417417294"
        rpy="0 0 0" />
      <mass
        value="2.43249992415545" />
      <inertia
        ixx="0.00755250482076536"
        ixy="6.97187524929094E-19"
        ixz="1.20295619169056E-17"
        iyy="0.00755250482076536"
        iyz="1.27393755267047E-18"
        izz="0.0127509821649285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0.0127 0.02927"
      rpy="-3.1416 0 -1.1131" />
    <parent
      link="left_front_steer" />
    <child
      link="left_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_front_steer">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.0206107556410369 0.040275860342774"
        rpy="0 0 0" />
      <mass
        value="0.0733713578442023" />
      <inertia
        ixx="0.000110146477694354"
        ixy="2.64168400424935E-20"
        ixz="-9.43647642800494E-20"
        iyy="9.72440317091055E-05"
        iyz="2.30486601099536E-05"
        izz="1.88194791385947E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/right_front_steer.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/right_front_steer.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_steer_joint"
    type="revolute">
    <origin
      xyz="0.254 -0.27305 0.012573"
      rpy="1.5708 0 -0.013511" />
    <parent
      link="chassis" />
    <child
      link="right_front_steer" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_wheel">
    <inertial>
      <origin
        xyz="5.3776427755281E-17 2.77555756156289E-16 0.0380860906074777"
        rpy="0 0 0" />
      <mass
        value="2.43249992415545" />
      <inertia
        ixx="0.00755250482076537"
        ixy="1.73840277534144E-20"
        ixz="3.17044432157285E-18"
        iyy="0.00755250482076536"
        iyz="-5.19739416435239E-18"
        izz="0.0127509821649285" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://enpm662_proj1_urdf/meshes/right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0.0127 0.031764"
      rpy="0 0 1.6459" />
    <parent
      link="right_front_steer" />
    <child
      link="right_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>